@import 'scss/colors';


.navBar {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $amarillo-meli;
    padding: 8px;
    align-items: center;
}

.search {
    width: 50%;
}

.logo {
    margin-right: 20px;
    width: 50px;
}