<div class="detailContainer">
        
    <div class="detailContainer__detailItem">
        <img class="detailContainer__detailItem--img" src="{{ data.img[0] }}">
    </div>

    <div class="detailContainer__detailItem">
        <p class="detailContainer__detailItem--condition">
            <span *ngIf="data.condition === 'new'">Nuevo</span>
            <span *ngIf="data.condition === 'used'">Usado</span>
            -
            {{data.sold_quantity}} Vendidos
        </p>
        <h1 class="detailContainer__detailItem--title">{{data.title}}</h1>
        <price class="detailContainer__detailItem--price" [price]="data.price" [decimals]="2" [prefix]="data.currency_id" ></price>
        <button type="button" class="detailContainer__detailItem--btn">Comprar</button>
    </div>

    <div class="detailContainer__detailItem">
        <h1 class="detailContainer__detailItem--title">Descripción del producto</h1>
        <p class="detailContainer__detailItem--description">
            {{data.description}}
        </p>
    </div>
</div>