<nav class="navBar">

    <div class="navBar--logoContainer">
        <a>
            <picture>
                <source srcset="../../../assets/Logo_ML.png" media="(max-width: 1023px)">
                <img src="../../../assets/Logo_ML.png" alt="ML logo">
            </picture>
        </a>
    </div>

    <form [formGroup]="searchForm" (ngSubmit)="searchItems()" class="navBar--formContainer">

        <input type="text" 
                class="navBar--formContainer--input"
                aria-label="Nunca dejes de buscar"
                id="buscador" 
                name="as_word" 
                placeholder="Nunca dejes de buscar" 
                maxlength="120"
                autofocus=""
                autocapitalize="off" 
                autocorrect="off" 
                spellcheck="false" 
                autocomplete="off" 
                formControlName="nameItem">
      
        <button type="submit" id="botonBuscador" class="navBar--formContainer--button">
            <picture>
                <source srcset="./assets/ic_Search.png">
                <img src="./assets/ic_Search.png" alt="Search">
            </picture>   
        </button>
    </form>
</nav>