@import "../../../scss/variables/colors";
@import "../../../scss/mixin/mixin.scss";

.navBar {
  @include display-flex(center, flex, center, "");
  width: 100%;
  background-color: $amarillo-meli;
  padding: 8px 0px;

  &--logo {
    &--img {
      margin-right: 20px;
      width: 50px;
    }
  }

  &--input {
    width: 50%;
  }
}
