@import "./reset";
@import "./variables/colors";
@import "./mixin/mixin";

body {
  background-color: $gris-meli;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
}

.breadcrumb {
  width: 100%;
}
