<div class="listado-container" *ngIf="itemsList.length">

    <div class="contenedorPorProducto" *ngFor="let item of itemsList" (click)="viewDetail(item.id)">

        <div class="imagenProducto">
            <img src="{{ item.img }}" >
        </div>

        <div class="infoProducto">
            <h3 class="price"> {{item.price | currency:'$ '}}
                <picture *ngIf="item.free_shipping == true">
                    <source srcset="../../../assets/ic_shipping.png">
                    <img src="../../../assets/ic_shipping.png" alt="Search">
                </picture>   
            </h3>

            <div class="extra">               
                <p class="title">{{item.title}}</p>

                <p class="state">{{item.address.city_name}} - {{item.address.state_name}}</p>
            </div>    
        </div>
    </div>

</div>