@import "../../../scss/variables/colors";
@import "../../../scss/mixin/mixin.scss";

.errorContainer {
  @include display-grid(center, grid, 30% 70%, "", "");
  align-content: center;
  background-color: $blanco;
  font-size: 1.3em;
  grid-gap: 3%;
  height: 40vh;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  @media only screen and (max-width: 1200px) {
    font-size: 1em;
    grid-gap: 0%;
    grid-template-columns: 20% 80%;
    width: 80%;
  }

  @media only screen and (max-width: 768px) {
    font-size: 0.8em;
    height: 30vh;
  }

  @media only screen and (max-width: 600px) {
    font-size: 0.5em;
    height: 20vh;
  }

  &--imgContainer {
    text-align: right;
    &__img {
      width: 200px;
      padding-left: 40px;

      @media only screen and (max-width: 1200px) {
        width: 110px;
        padding-left: 30px;
      }

      @media only screen and (max-width: 768px) {
        width: 85px;
        padding-left: 20px;
      }

      @media only screen and (max-width: 600px) {
        width: 65px;
        padding-left: 10px;
      }
    }
  }

  &--mensaje {
    text-align: left;
    &__h1 {
      font-weight: bold;
    }
  }
}
