@import "../../../scss/mixin/mixin.scss";

.container {
  display: flex;
  width: fit-content;
  position: relative;

  &__price {
    @include height-width(fit-content, fit-content);
    position: relative;
    font-size: 1.5em;

    @media only screen and (max-width: 1200px) {
      font-size: 1em;
    }

    @media only screen and (max-width: 768px) {
      font-size: 0.8em;
    }

    &--prefix {
      margin-right: 5px;
    }

    &--cents {
      font-size: 0.6em;
      position: absolute;
      top: -5px;
      margin-left: 3px;
    }
  }

  &__shipLogo {
    position: absolute;
    right: -30px;
    top: 0px;
  }
}
